<div class="container">
  <h1>Users</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone No</th>
      <th>Address</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    
      <% @users.each do |user| %>
      <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.phone_no %></td>
      <td><%= user.address %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td>
        <%=link_to "Edit" ,edit_user_registration_path%>
        </td>
      </tr>
      <% end %>
    
  </tbody>
</table>
</div>
